<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<h1>About Me</h1>
<h2>Education</h2>
<p>I grew up in Frederick, MD, so I went to elementary,
    middle, and high school in Frederick. I decided to stay
    in state for college so UMD was the best fit. I am
    currently a junior at the University of Maryland,
    and I am studying <em>Information Systems</em> and <em>Finance</em>.</p>
<h2>Life After College</h2>
<p>After college, I am hoping to pursue a career in consulting
    or tech. I am interning at Deloitte over the summer and I
    hope to receive a full time offer at the end of it.</p>
<h2>Extracurriculars</h2>
<p id="special-one">Outside of school, I work at a few different catering companies. I work
as both a server and a kitchen assistant in DC and Frederick, MD. I also
serve as an honors ambassador for my honors program. Currently, I am an RA
 in Elkton Hall, where I supervise and assist 38 residents on my side of the floor.
 In Elkton, I also serve as the RHA co-advisor alongside my Resident Director. We oversee
 RHA meeting, and help supervise the members to make sure their planned events are
feasible and within our limits. Lastly, I am in ALPFA, a latinx business club at UMD.</p>
<!-- Courses in a table -->
<h2>Courses</h2>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>Intro to Information Systems</td>
            <td>Spring 2023</td>
        </tr>
        <tr>
            <td>Investments</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>Business Law</td>
            <td>Spring 2024</td>
        </tr>
    </table>
<!-- Ordered List -->
<h2>Skills</h2>
    <p><strong>Here are some of my skills:</strong></p>
    <ol>
        <li>Python programming</li>
        <li>Excel</li>
        <li>Bloomberg</li>
        <li>Bilingual - Spanish and English</li>
    </ol>
<!-- Unordered List -->
<h2>Favorite Shows</h2>
    <p><strong>Some of my favorite shows at the moment:</strong></p>
    <ul>
        <li>Grey's Anatomy</li>
        <li>Euphoria</li>
        <li>The Bear</li>
        <li>Shameless</li>
    </ul>
<!-- Links Netflix and HBO -->
    <p class="tomato"><strong>Where can I watch some of these shows?:</strong></p>
    <ul>
        <li><a href="https://www.netflix.com/browse">Netflix</a></li>
        <li><a href="https://play.max.com/" target="_blank">HBO</a></li>
    </ul>

<p><a href="https://mjimenez325.pythonanywhere.com/hello">Check out my website!</a></p>
<!-- Robert H. Smith logo -->
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Robert H. Smith Logo" class="logo">

</body>
</html>